

<div class="div-layout-main-content">


    <div class="div-layout-menu-content">

        <div style="display:table-row;">
            <div class="div-layout-top-left-item">
                <br /><br /><br />
                @Html.ActionLink("Редактирование уроков", "EditLesson")
            </div>
            <div class="div-layout-top-right-item">
                <br /><br /><br />
                @Html.ActionLink("Просмотр в Интернете", "")
            </div>
        </div>

        <div style="display:table-row;">
            <div class="div-layout-bottom-left-item">
                <br /><br /><br />
                @Html.ActionLink("Еще что-нибудь", "")
            </div>
            <div class="div-layout-bottom-right-item">
                <br /><br /><br />
                @Html.ActionLink("Еще что-нибудь", "")
            </div>

        </div>
    </div>


</div>